<!DOCTYPE html>
<html language="en">
<head>
  <title>Home</title>
  <%- include('./partials/style'); %>
</head>
<body>
  <div class="container">
    <!-- Header -->
    <%- include('./partials/header'); %>
    <!-- Content -->
    <div class="row p-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project Phase 3 III Due Soon</h5>
            <p class="card-text">
              Your project Phase III is due on
              Sunday April 24, 2021 at 11:55PM (¬‿¬)
              <br /><br />Best of Luck!!
            </p>
            <a href="#" class="btn btn-dark">View Detail</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Extra Point: Talk on April 27</h5>
            <p class="card-text">We are organizing the talk on Web Programming by the expert.
              Do not forget to attend to get an extra point
            </p>
            <a href="#" class="btn btn-dark">View Detail</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Quiz 5 incoming</h5>
            <p class="card-text">We are planning to put Quiz 5 after April 25 ... Maybe around your Final Week</p>
            <a href="#" class="btn btn-dark">View Detail</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer'); %>
  </div>
</body>
</html>